//Variables:
@textShine: #8fe7ff;

//Fixing bootstrap:
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}


//Make it a full page application:
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

//The main application background:
body {
    background: url(../img/background.png);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

//Center the content in mainDiv at 95% height
#mainDiv {
    //Start ensure vertical centering
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    //End
    //Setup for full screen
    height: 95%;
    width: 100%;
}

//Make buttons from bootstrap larger
.turnBtn {
    height: 100%;
    //Set up width
    width: 90%;
    //Bring it topmost
    z-index: 300;
}

.game-button {
    height: 80%;
    //center:
    top: 10%;
    position: relative;
}



@font-face {
    font-family: 'BebasNeueRegular';
    src: url('./fonts/BebasNeue-webfont.eot');
    src: url('./fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/BebasNeue-webfont.woff') format('woff'), url('./fonts/BebasNeue-webfont.ttf') format('truetype'), url('./fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {
    margin: 0 auto;
}

.clock {
    margin: 0 auto;
    color: #fff;
    font-size: 150px;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    -webkit-text-shadow: 0 0 5px @textShine;
    text-shadow: 0 0 5px @textShine;
}

    .clock span {
        //take up all available space:
        height: 100%;
        //For text resizing required: https://github.com/davatron5000/FitText.js
        display: inline-block;
        //center the text by overriding the lineheight set by bootstrap:
        line-height: normal;
        //Disable user selection:
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

.point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    -o-animation: mymove 1s ease infinite;
    animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}



@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        -webkit-text-shadow: 0 0 20px @textShine;
        text-shadow: 0 0 20px @textShine;
    }

    50% {
        opacity: 0;
        -webkit-text-shadow: none;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        -webkit-text-shadow: 0 0 20px @textShine;
        text-shadow: 0 0 20px @textShine;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        -webkit-text-shadow: 0 0 20px @textShine;
        text-shadow: 0 0 20px @textShine;
    }

    50% {
        opacity: 0;
        -webkit-text-shadow: none;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        -webkit-text-shadow: 0 0 20px @textShine;
        text-shadow: 0 0 20px @textShine;
    }
}

@keyframes mymove {
    0% {
        opacity: 1.0;
        -webkit-text-shadow: 0 0 20px @textShine;
        text-shadow: 0 0 20px @textShine;
    }

    50% {
        opacity: 0;
        -webkit-text-shadow: none;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        -webkit-text-shadow: 0 0 20px @textShine;
        text-shadow: 0 0 20px @textShine;
    }
}




//make the text inverted
.invert {
}
