//Variables:
@textShine : #8fe7ff;

//Make it a full page application:
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

//The main application background: 
body{
	background-image: url(../img/background.png);
}

//Center the content in mainDiv at 95% height
#mainDiv {
    //Start ensure vertical centering
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    //End
	//Setup for full screen 
    height: 95%;
    width: 100%;
}

//Make buttons from bootstrap larger
.btn {
    height: 100%;
    //Set up width
    width: 90%;
}




@font-face {
    font-family: 'BebasNeueRegular';
    src: url('./fonts/BebasNeue-webfont.eot');
    src: url('./fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/BebasNeue-webfont.woff') format('woff'), url('./fonts/BebasNeue-webfont.ttf') format('truetype'), url('./fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {
    margin: 0 auto;
}

.clock {
    margin: 0 auto;
    color: #fff;
    font-size: 150px;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px @textShine;
}

    .clock span {
        //take up all available space:
        height: 100%;
        //For text resizing required: https://github.com/davatron5000/FitText.js
        display: inline-block;
        //center the text by overriding the lineheight set by bootstrap:
        line-height: normal;
    }

.point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    -o-animation: mymove 1s ease infinite;
    animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}



@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px @textShine;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px @textShine;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px @textShine;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px @textShine;
    }
}

@keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px @textShine;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px @textShine;
    }
}




//make the text inverted
.invert {
}
