html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
body {
  background: url(../img/background.png);
}
.center {
  margin-left: auto;
  margin-right: auto;
}
#mainDiv {
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  height: 95%;
  width: 100%;
}
.btn {
  height: 100%;
  width: 90%;
}
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('./fonts/BebasNeue-webfont.eot');
  src: url('./fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/BebasNeue-webfont.woff') format('woff'), url('./fonts/BebasNeue-webfont.ttf') format('truetype'), url('./fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.container {
  margin: 0 auto;
}
.clock {
  margin: 0 auto;
  color: #fff;
  font-size: 150px;
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  -webkit-text-shadow: 0 0 5px #8fe7ff;
  text-shadow: 0 0 5px #8fe7ff;
}
.clock span {
  height: 100%;
  display: inline-block;
  line-height: normal;
}
.point {
  position: relative;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
  -o-animation: mymove 1s ease infinite;
  animation: mymove 1s ease infinite;
  padding-left: 10px;
  padding-right: 10px;
}
@-webkit-keyframes mymove {
  0% {
    opacity: 1.0;
    -webkit-text-shadow: 0 0 20px #8fe7ff;
    text-shadow: 0 0 20px #8fe7ff;
  }
  50% {
    opacity: 0;
    -webkit-text-shadow: none;
    text-shadow: none;
  }
  100% {
    opacity: 1.0;
    -webkit-text-shadow: 0 0 20px #8fe7ff;
    text-shadow: 0 0 20px #8fe7ff;
  }
}
@-moz-keyframes mymove {
  0% {
    opacity: 1.0;
    -webkit-text-shadow: 0 0 20px #8fe7ff;
    text-shadow: 0 0 20px #8fe7ff;
  }
  50% {
    opacity: 0;
    -webkit-text-shadow: none;
    text-shadow: none;
  }
  100% {
    opacity: 1.0;
    -webkit-text-shadow: 0 0 20px #8fe7ff;
    text-shadow: 0 0 20px #8fe7ff;
  }
}
@keyframes mymove {
  0% {
    opacity: 1.0;
    -webkit-text-shadow: 0 0 20px #8fe7ff;
    text-shadow: 0 0 20px #8fe7ff;
  }
  50% {
    opacity: 0;
    -webkit-text-shadow: none;
    text-shadow: none;
  }
  100% {
    opacity: 1.0;
    -webkit-text-shadow: 0 0 20px #8fe7ff;
    text-shadow: 0 0 20px #8fe7ff;
  }
}
