<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Game Clock</title>

    <!-- Jquery / UI -->
    <script src="Scripts/jquery/jquery-1.9.0.js"></script>
    <script src="scripts/jquery/jquery-migrate-1.0.0.min.js"></script>
    <script src="scripts/jqueryui/js/jquery-ui-1.10.0.custom.js"></script>
    <link href="scripts/jqueryui/css/smoothness/jquery-ui-1.10.0.custom.css" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="Scripts/bootstrap/bootstrap.js"></script>
    <!--<link href="css/bootstrap/bootstrap-responsive.css" rel="stylesheet" media="screen" />-->

    <!-- Angular -->
    <script src="scripts/angular/angular.js"></script>

    <!-- Jquery extensions  -->
    <script src="Scripts/jquery.fittext.js"></script>
    <!-- Angular extensions -->
    <script src="scripts/angular.filters.js"></script>
    <script src="scripts/angular.bui.js"></script>

    <!-- Font Awesome  -->
    <link href="css/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Main -->
    <link href="css/main.min.css" rel="stylesheet" />
    <!-- Our main logic -->
    <script src="main.js"></script>

</head>
<body ng-app="mainApp" ng-controller="MainController">
    <!--Main Div-->
    <div id="mainDiv" class="container-fluid pagination-centered">

        <div class="row-fluid" style="height: 13%">
            <button class="btn turnBtn"
                data-ng-click="p2turn()"
                data-ng-disable="gameState!=GameStates.p1turn"
                data-ng-class="{
                    'btn-success' : gameState==GameStates.p1turn,
                    'btn-inverse':gameState==GameStates.p2turn,
                    'disabled':gameState!=GameStates.p1turn
                }">
                <div data-ng-show="gameState==GameStates.p1turn" style="height: 100%">End Turn</div>
                <div data-ng-show="gameState==GameStates.paused" style="height: 100%">Paused</div>
            </button>
        </div>
        <div id="p1time" class="row-fluid clock" style="height: 30%; overflow: hidden">
            <span>{{p1.min|digits:2}}</span>
            <span class="point">:</span>
            <span>{{p1.sec|digits:2}}</span>
            <span class="point">:</span>
            <span>{{p1.mil}}</span>
        </div>
        <div class="row-fluid center" style="height: 15%; width: 50%; min-width: 320px; background: rgba(100,100,100,.6); position: relative; border-radius: 4px">
            <div class="row-fluid center span10 offset1" style="height: 100%">
                <button class="span4  btn game-button btn-inverse" ng-click="play_pause()">
                    <i class="icon-play" data-ng-show="gameState==GameStates.paused"></i>
                    <i class="icon-pause" data-ng-show="gameState!=GameStates.paused"></i>
                    <!--Play/Pause-->
                </button>
                <button class="span4 btn game-button btn-inverse" ng-click="reset()">
                    <i class="icon-repeat"></i>
                    <!--Reset-->
                </button>
                <button class="span4 btn game-button btn-inverse" data-toggle="modal" data-target="#settingsModal" ng-click="pause()"><i class="icon-cog"></i></button>
            </div>
        </div>
        <div class="row-fluid clock" style="height: 30%; overflow: hidden">
            <span>{{p2.min|digits:2}}</span>
            <span class="point">:</span>
            <span>{{p2.sec|digits:2}}</span>
            <span class="point">:</span>
            <span>{{p2.mil}}</span>
        </div>
        <div class="row-fluid" style="height: 13%">
            <button class="btn turnBtn"
                data-ng-click="p1turn()"
                data-ng-disable="gameState!=GameStates.p2turn"
                data-ng-class="{
                    'btn-success':gameState==GameStates.p2turn,
                    'btn-inverse':gameState==GameStates.p1turn,
                    'disabled':gameState!=GameStates.p2turn
                }">
                <div data-ng-show="gameState==GameStates.p2turn" style="height: 100%">End Turn</div>
                <div data-ng-show="gameState==GameStates.paused" style="height: 100%">Paused</div>
            </button>
        </div>
    </div>
    <!-- Modal (data- options are for disabling keyboard / backdrop click and making sure the cancel button is the only way to exit  -->
    <div id="settingsModal"
        class="modal hide fade"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&nbsp;x&nbsp;</button>
            <h1 id="myModalLabel">Settings</h1>
        </div>
        <div class="modal-body">
            <div bui-slider min="0" max="60" value="newMinSetting"></div>
            <div class="text">Minutes Per Player: {{newMinSetting}}</div>
            <div bui-slider min="0" max="60" value="newSecSetting"></div>
            <div class="text">Seconds Per Player: {{newSecSetting}}</div>
        </div>
        <div class="modal-footer">
            <div class="row-fluid">
                <button class="btn btn-danger offset1 span5" data-dismiss="modal" aria-hidden="true" ng-click="revertSettings()">Cancel Changes</button>
                <button class="btn btn-primary offset1 span5" data-dismiss="modal" ng-click="applySettings()">Save Changes</button>
            </div>
        </div>
    </div>
    <!-- Player Win -->
    <div id="playerWin" bui-modal expression="gameState==GameStates.p1win||gameState==GameStates.p2win" class="fade" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-body">
            <div class="win-message" ng-show="gameState==GameStates.p1win">Player 1 Wins!</div>
            <div class="win-message" ng-show="gameState==GameStates.p2win">Player 2 Wins!</div>
        </div>
        <div class="modal-footer">
            <div class="row-fluid">
                <button class="btn btn-primary offset3 span6" data-dismiss="modal" ng-click="reset()">Reset</button>
            </div>
        </div>
    </div>

</body>

<script>
    // modules should created outside of jquery init. 
    // The main appModule
    angular.module("mainApp", ["filters", "bui"]);

    $(function () {
        // Register Jquery extensions
        function AdjustType() {
            jQuery(".turnBtn div").fitText(0.5);
            jQuery(".clock span").fitText(.5, { 'basedon': '#p1time' });
            jQuery(".game-button").fitText(.2);
        }
        // adjust type size initially
        AdjustType();
        // Adjust type on gamestate changes: 
        var scope = $("#mainDiv").scope();
        scope.$watch('gameState', function () {
            AdjustType();
        });

        $(window).on('resize', function () {
            // adjust type size
            AdjustType();
        });
    });

</script>
</html>
